* text=auto

*.bat text
*.c text
*.cpp text
*.css text
*.ewp text
*.gdb text
*.h text
*.hex text
*.html text
*.htm text
*.icf text
*.inf text
*.ini text
*.ino text
*.java text
*.js text
*.mk text
*.ld text
*.lds text
*.pde text
*.pl text
*.po text
*.prefs text
*.project text
*.properties text
*.py text
*.s text
*.S text
*.sh text
*.svd text
*.svg text
*.txt text
*.uvproj text
*.uvopt text
*.xml text

*.a binary
*.bmp binary
*.bz2 binary
*.dll binary
*.exe binary
*.ico binary
*.gz binary
*.jar binary
*.jpg binary
*.lib binary
*.o binary
*.pdf binary
*.png binary
*.so binary
*.tgz binary
*.zip binary
